html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    font-size: 10vmin;
    white-space:nowrap;
}

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(17, 17, 17);
}

.menu {
    text-align: center;
    margin-top: 40vh;
    margin-left:auto;
    margin-right:auto;
}

.header {  
    z-index: 10;
    position: relative;
    display: block;
    text-align: right;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: 1px;
    transform: rotate(-45deg);
    transform-origin: bottom right;
}

.invis
{
    visibility: hidden;
    font-size: 10vmin;
}

.header-text {  
    display: flex;
    color:rgb(87, 87, 87);
    text-shadow: -2vmin 3vmin .5vmin #000;
    /*background-color: rgb(158, 30, 30); */
    /*text-shadow: 0 10px 20px rgba(0,0,0,0.6); */
}

.header-text-rel {  
    display: block;
    position: absolute;
    bottom: 2ex;
    /*background-color: rgb(85, 192, 108); */
    transform: translateZ(0);
    color:rgb(85, 192, 108);
    font-size: 5vmin;
    /*text-shadow: 0 10px 20px rgba(0,0,0,0.6); */
}

.button {
    display: block;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    width: auto;
    height: 1em;
    transform: rotate(45deg) translateY(-.28em);
    transform-origin: bottom left;
}

.button-text {
    display: block;
    transform: translateZ(0);
    color: rgb(163, 173, 185);
}

.button-text:hover{
    color: #fd0;
}

/* BUTTON STRIPES */
.buttonband_right {
    z-index: -1;
    position: absolute;
    background-color: #fd0;
    margin-left: 100vw; /* 100vw*/
    width: 100vw;
    height: 1.4ex;
    transform: translateY(.5ex);
    transition: all .2s ease-out;
}

.button-text:hover .buttonband_right{
    transition: margin-left 200ms ease-in;
    margin-left: 0vw; 
}

.buttonband_left {
    z-index: -1;
    position: absolute;
    background-color: #fd0;
    width: 100vw;
    height: 1.355ex;
    transform: translate(-200vw, -1.785ex); /*-200vw*/
    transition: all .2s ease-out;
}

.button-text:hover .buttonband_left{
    transition: transform 200ms ease-in;
    transform : translate(-100vw, -1.785ex);
}