html, body {
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:400;
    font-size: 10vmin;
    white-space:nowrap;
}

a
{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
}

.container {
    width: 100%;
    height: 100%;
    opacity: 1.0;
    position: fixed;
    background-color: rgb(236, 236, 236);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(resources/main_square_blurred.jpg);
    transition: all .2s ease-out;
}

.hovered-design {
    background-image: url(resources/concept_square_blurred.jpg);
}

.hovered-engine {
    background-image: url(resources/engine_square.jpg);
}

.menu {
    text-align: center;
    margin-top: 30vh;
    margin-left:10vw;
    margin-right:auto;
}

table {
    width:10%; 
    margin:auto;
}

.view-change #button1 {
    transition: margin-left 200ms ease-in;
    margin-left: 0vw; 
}

.header {  
    z-index: 10;
    position: relative;
    transform: rotate(-45deg);
    transform-origin: bottom right;
}

.header-text {  
    color:rgb(87, 87, 87);
    text-shadow: -2vmin 3vmin 2.5vmin rgb(138, 138, 138);
}

.header-text-rel {
    position: absolute;
    bottom: 0.5ex;
    margin-left: 1ex;
    text-align: left;
    color:#002f5f;
    text-shadow: -1vmin 1.5vmin 1.5vmin rgb(138, 138, 138);
    font-size: 5vmin;
    font-weight:400;
}

.invis
{
    visibility: visible;
    font-size: 10vmin;
}

.button {
    display: block;
    text-align: left;
    height: 1em;
    transform: rotate(45deg) translateY(-1em);
    transform-origin: bottom left;
}

.button-text {
    color: rgb(14 14 14);
}

.button-text:hover{
    color: #fd0;
    cursor: pointer;
}

/* BUTTON STRIPES */
.buttonband
{
    z-index: -1;
    position: absolute;
    background-color: #fd0;
    width: 100vw;
    height: .8em;
}

.buttonband.right 
{
    margin-left: 100vw; /* 100vw*/
}

.buttonband.left {
    background-color: #fd0;
    margin-left: -200vw;
}

.button-text:hover .buttonband
{
    visibility: visible;
    transition: margin-left 200ms ease-in;
}

.button-text:hover .buttonband.right{
    margin-left: 0vw; 
}

.button-text:hover .buttonband.left{
    margin-left: -100vw; 
}

@keyframes VIEWTRANSITION {
    0%   { }
    70% { transform: scale(4) translateX(-50vw) translateY(-10vh) rotate(-45deg) }
    100% { transform: scale(10) translateX(-70vw) translateY(-10vh) rotate(-45deg)   }
}

@keyframes VIEWTRANSITION_BG {
        0%   { background-color: rgb(236, 236, 236); }
        80% { background-color: rgb(236, 236, 236); } 
        100% { background-color: #fd0 } 
}


.view-change {
    animation : VIEWTRANSITION_BG 2s ease-in forwards;
}

.view-change .menu {
    animation : VIEWTRANSITION 1.5s ease-in forwards;
}

.view-change #buttonband1 {
    transition: margin-left 200ms ease-in;
    margin-left: 0vw; 
}
